 *{
     
 }
 /* font syle */
 body{
  font-family: 'Open Sans', sans-serif;
 }
 /* nav related style  */

 nav > ul {
  display: flex;
  align-items: center;
}
nav li{
  list-style: none;
  padding: 10px;
  
}
nav a {
  text-decoration: none;
}
.nary{
color: #181818;
font-size: 45px;
font-weight: 800;
}
.orang{
  color:#FD6E0A ;
}
.btn{
  background:#FD6E0A;
  border-radius: 5px;
  color:white;
  font-size: 20px;
  font-weight: 700;
  padding: 18px 35px;
  border: 0px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 200px;
   
}
nav,li{
  align-items: center;
}
/* heder related style */
 
  .header{
    background:rgb(238, 192, 192);
    background-image: url(header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
  }
 .baner{
  display: flex;
  justify-content: space-around;
  padding: 30px 30px 0px 150px;
 }
 .profile{
  width: 500px;
 }
 .baner-titel{
  font-size: 45px;
  font-weight: 600;
  margin: 0px;
 }
 .baner-heading{
  font-size: 85px;
  font-weight: 700;
  margin: 5px;px;
 }
 .baner-content{
  font-size: 18px;
  font-weight: 400;
 }
 .baner-details{
  max-width: 500px;
 }
 .section2{
  
 }
 .about{
  padding: 130px 150px;
  background-color: #ebc6ac;
  border-radius: 5px;
  margin: 130px 0px; 
  
 }
 .about-heading{
  color: #181818;
text-align: center;
font-weight: 700;
font-size: 35px;
 }
 .about-content{
  color:  #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
 }
 main,section{
  margin-top: 130px;
 }
 main{
  max-width: 1140px;
  margin: auto;
 }
 .about-info-containar{
  display: flex;
  justify-content: space-around;
 }
 .about-info-contant{
  padding:50px ;
 }
 .section-titel{
  color: #181818;
text-align: center;
font-size: 35px;
font-weight: 700;
 }
 .section-descreption{
  color: #757575;
text-align: center;
font-size: 18px;
font-weight: 400;
 }
 /* skills area */

 .skill-container{
display: flex;
gap: 24px;
}

.skill{
padding: 30px;
border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

 .skill-heading{
color: #181818;
font-size: 20px;
font-weight: 700;
 }
.skill-descreption{
color: #757575;
font-size: 16px;
font-weight: 400;

}

/* cv style area */

.cv-main{
  display: flex;
  gap: 50px;
}
.cv-head{
  color: #181818;
text-align: center;
font-size: 35px;
font-weight: 700;
}
.head2{
color: #474747;
font-size: 30px;
font-weight: 700;
}
.cv-title{
color: #474747;
font-size: 25px;
font-weight: 700; 
}
.cv-heading{
color: #757575;
font-size: 20px;
font-weight: 600;
}
.cv-descreption{
color:#757575;  
}
.download-btn{
  text-align: center;
}
 
 
 

 
  